{% for interface in interfaces %}
{% if "-" in interface.name %}
{% set prefix, range_str = interface.name.rsplit('/', 1) %}
{% set start, end = range_str.split("-") %}
{% for i in range(start|int, end|int + 1) %}
interface {{ prefix }}/{{ i }}
  {% if interface.type == "access" %}
  switchport mode access
  switchport access vlan {{ interface.vlan }}
  {% elif interface.type == "trunk" %}
  switchport mode trunk
  switchport trunk allowed vlan {{ interface.vlan }}
  {% endif %}
  description {{ interface.description | upper }}
  no shutdown
!
{% endfor %}
{% else %}
!
{% endif %}
{% endfor %}




 